/*****
  Home Page
****/
@import '../components/variables';

.carousel-slide {
  text-align: center;
  height: 25vh;
  vertical-align: middle;
  display: table;
  width: 100vw;

  &.blue {
    background-color: $color-blue;
    color: $color-white;
  }
  &.pink {
    background-color: $color-pink;
    color: $color-white;
  }
  &.dark {
    background-color: $color-dark;
    color: $color-white;
  }
  .slide-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  h1 {
    font-family: $font-family-brand;
    color: $color-white;
    text-align: center;
    font-size: 4em;
    margin: 0px;
  }
  p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $screen-sm) {
    h1 {
      font-size: 3.5em;
    }
  }
}

.carousel-control.right,
.carousel-control.left {
  background: none;
}

.about-section {
  text-align: center;
  padding: 50px 0;

  .bio-image img {
    border-radius: 100%;
    border: $border-pink;
    width: 250px;
  }

  @media screen and (max-width: $screen-sm) {
    .bio-image img {
      width: 200px;
    }
  }
}

.current-work-section {
  background-color: $color-blue;
  padding: 50px 0;

  h2.section-header {
    color: $color-white;
    margin: 0;
  }
  .sub-title {
    text-align: center;
    color: $color-dark;
    margin-bottom: 0;
  }

  .work-tile {
    margin-top: 40px;
  }

  div.image-wrapper {
    position: relative;
    a.image {
      border: $border-dark;
      position: relative;
      display: block;
    }
    span {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      display: none;
    }

    &:hover {
      span {
        display: block;
      }
      a:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(95,15,78, 0.6);
      }
    }
  }
  .btn {
    margin-left: 0;
    margin-right: 0;
  }
  .more {
    margin-top: 30px;
    float: right;
  }
}
