.btn {
  border-radius: 0;
  padding: 10px 30px 9px;
  margin: 0 5px 10px;
  font-family: $font-family-sans-serif;
}
.btn-wide,
.btn-full {
  width: 100%;
  margin: 0 0 10px;
}

.btn-pink {
  border: $border-pink;
  background: $color-white;
  color: $color-pink;

  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition: all 0.3s ease-out;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-pink;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  &:hover {
    background-color: $color-white;
    color: $color-white;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
.btn-pink-inverse {
  border: $border-pink;
  background: $color-pink;
  color: $color-white;

  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition: all 0.3s ease-out;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  &:hover {
    background-color: $color-pink;
    color: $color-pink;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.btn-blue {
  border: $border-blue;
  background: $color-white;
  color: $color-blue;

  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition: all 0.3s ease-out;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-blue;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  &:hover {
    background-color: $color-white;
    color: $color-white;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
