h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  color: $color-dark;

  &.light {
    color: $color-white;
  }
  &.section-header {
    font-family: $font-family-brand;
    text-align: center;
  }
}

h2.section-header {
  font-size: 3em;
}

p {
  margin-bottom: 15px;
}

.section-header-book {
  font-family: $font-family-brand;
  color: $color-pink;
  margin-top: 0;
}
